*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: bisque;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    
}
.container{
    background-color: white;
    width: 600px;
    margin-top: 5%;
}

#sign-in h1{
    width:240px;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3rem;
    margin-top: 20px;
    color: rgb(169, 169, 169);
}

#sign-in p{
font-weight: lighter;
margin-top: 1rem;
margin-bottom: 2rem;
opacity: .7;
}
#second{
    margin-top: 1rem;
}


#first input, #second input{
    height: 2rem;
    width:15rem;
    border:1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding-left: 3px;
    color:rgba(0, 0, 0, 0.7);
}
#first label , #second label{
    font-size: 12px;
    position : relative;
    color: rgba(0, 0, 0, 0.5);
    right: 15rem;
    top:-1rem;
    background-color: white;
    padding : 0 3px 0 1px;
}
#forget{
    margin-top: 1rem;
    width: 240px;
    display:flex;
    justify-content: flex-end;
}
#forget button{
    font-size: 11px;
    background-color: white;
    width: 6.5rem;
    height:2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
}
#login{
    margin-top: 2rem;
    width: 240px;
    display: flex;
    justify-content: center;
    
}
#login button{
  border: none;
  width:240px;
  height:2rem;
  background-color: rgb(169, 169, 169);

  color: white;
  border-radius: 7px;
  font-weight: bold;
  font-family: sans-serif;
}
footer{
    width:240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer h2{
    margin-top: 1.5rem;
    font-size: 14px;

}
#new-account a{
text-decoration: none;
}

footer  button{
   margin-top: 2rem;
   margin-bottom: 20px;
   display:flex;
   justify-content: center;
   width: 8rem;
   height:2rem;
   padding-top: 8.5px;
   background-color:  rgb(169, 169, 169);

   border: none;
   border-radius: 6px;
   color: white;
   font-size: 13px;
   
}
#new-account span{
    padding-left: 5px;
}

.container{
    margin-top: 60px;
    padding-left: 160px;
    border-radius: 15px;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.6);
}